* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #686464;
  opacity: 0.7;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  margin: auto;
}

body {
  background-image: url(obrazky/orel.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  background-repeat: no-repeat;
  color: white;
  font-family: Typechev-v20;
}

.navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.nav-link {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: #bdbb69;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10rem;
}

@font-face {
  font-family: Typechev-v20;
  src: url("fonts/Typechev-v20.ttf");
}

.main {
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  font-family: Typechev-v20;
}

h1 {
  font-family: Typechev-v20;
}

.w1 {
  background-position: center;
  background-size: cover;
  margin: 2rem;
  height: 60vw;
}

.w2 {
  padding-right: 4rem;
}

.container {
  width: 100vw;
}

.paticka {
  background-color: #2d3073;
}

@media (max-width: 500px) {
  body {
    background-size: cover;
    background-position: center;
    width: 100vw;
  }
}

@media (max-width: 1024px) {
  body {
    background-size: cover;
    background-position: center;
    width: 100vw;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}

.kontakt {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.kontakt__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  border-radius: 10px;
}

.kontakt__social svg {
  margin: 0.1rem;
  cursor: pointer;
}

.kontakt__social #fb-circle {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.kontakt__social #fb:hover #fb-circle {
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 8;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.kontakt__social #fb-circle #fb-path {
  fill: #686464;
}

.kontakt__social #fb-circle {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.kontakt__social #fb:hover #fb-circle {
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: 8;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.kontakt__social #fb-circle #fb-path {
  fill: #686464;
}

#twitter {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
}

#twitter:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=style.css.map */